In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [ ]:
data_diabetes=pd.read_csv('/content/diabetes.csv')

In [ ]:
data_diabetes.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
data_diabetes.shape

(768, 9)

In [ ]:
data_diabetes.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
data_diabetes['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
data_diabetes.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [ ]:
x=data_diabetes.drop(columns= 'Outcome', axis=1) 
y=data_diabetes['Outcome']

In [ ]:
print(x)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]

In [ ]:
print(y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
scale =StandardScaler()

In [ ]:
scale.fit(x)

StandardScaler()

In [ ]:
from pandas.core.common import standardize_mapping
standardize_data=scale.transform(x)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
print(scale.transform(x))

[[-0.95180864 -3.7571036  -3.56486115 ... -4.03458073 -0.01022106
  -2.70705751]
 [-1.39275404 -3.81881281 -3.58089709 ... -4.14734019 -2.52764931
  -2.8446161 ]
 [-0.77543048 -3.7228207  -3.58624241 ... -4.20049822  0.40022919
  -2.83737617]
 ...
 [-1.03999772 -3.78355041 -3.56486115 ... -4.15378359 -3.49448769
  -2.85185602]
 [-1.39275404 -3.77865285 -3.59693304 ... -4.09096046 -2.54589154
  -2.72877728]
 [-1.39275404 -3.81097672 -3.57020646 ... -4.08612791 -2.85600951
  -2.9025355 ]]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
x =standardize_data
y= data_diabetes['Outcome']

In [ ]:
print(x)
print(y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
x_train , x_test ,y_train , y_test = train_test_split(x,y, test_size=0.2,stratify=y,random_state=2)

In [ ]:
print(x.shape,x_train.shape,x_test.shape)

(768, 8) (614, 8) (154, 8)

In [ ]:
classifer =svm.SVC(kernel='linear')

In [ ]:
classifer.fit(x_train , y_train)

SVC(kernel='linear')

In [ ]:
x_train_predication = classifer.predict(x_train)
traingging_data_accuracy=accuracy_score(x_train_predication,y_train)
print('accurasy score traingging :',traingging_data_accuracy)

accurasy score traingging : 0.7866449511400652

In [ ]:
x_test_predication = classifer.predict(x_test)
testing_data_accuracy=accuracy_score(x_test_predication,y_test)
print('accurasy score traingging :',testing_data_accuracy)

accurasy score traingging : 0.7727272727272727

In [ ]:
from pandas.core.internals.blocks import external_values

input_data=[3,158,76,36,245,31.6,0.851,28]
input_data_as_numpy_array=np.asarray(input_data)
input_data_reshape=input_data_as_numpy_array.reshape(1,-1)
std_data=scale.transform(input_data_reshape)
print(std_data)
predication=classifer.predict(std_data)
print(predication)
if(predication[0]==0):
  print('thre perdon is not diabetes')
else:
 print("the perdon is diabetes")

[[-0.25095213  1.16129525  0.35643175  0.96999799  1.43441893 -0.04982572
   1.14499856 -0.44593516]]
[1]
the perdon is diabetes

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"